<HTML>
<HEAD>
<TITLE> {{ environment_name }} ENV </TITLE>
</HEAD>

<BODY>
<CENTER>
<br><br><br><br>
<br><br><br><br>

<h1>Hello World with ANSIBLE</h2>
<h3>It's {{ environment_name }} environment </h3>

</BODY>
</HTML>
